<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- Log4j configuration loading -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>
	<!-- Bootstrapping context loading -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		    /WEB-INF/soba-servlet.xml
            /WEB-INF/soba-services.xml
            /WEB-INF/soba-security.xml 
           <!--  webflow  -->
           /WEB-INF/flow-service.xml 
           /WEB-INF/flow-servlet.xml
           </param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>soba.root</param-value>
	</context-param>

	<!-- session management listener -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<session-config>
		<!-- session times out if no activities for 30 minutes -->
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- Security entry point -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- defining the DispatcherServlet -->
	<servlet>
		<servlet-name>soba</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>soba</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
		<servlet-mapping>
		<servlet-name>soba</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- webflow -->
	<!-- 
<servlet-mapping>
        <servlet-name>soba</servlet-name>
        <url-pattern>/flow/*</url-pattern>
    </servlet-mapping>
 -->
<!-- defining the DefaultServlet -->
<servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/notfound.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>
      login.jsp
    </welcome-file>
	</welcome-file-list>
	<!-- Spring jsp tag lib -->
	<jsp-config>
		<taglib>
			<taglib-uri>/spring</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>